<div class="hero">
    <div class="cycle-slideshow" data-cycle-speed="5000">
        <img src="~/Content/images/minihero/image1.png" />
        <img src="~/Content/images/minihero/image2.png" />
        <img src="~/Content/images/minihero/image3.png" />
        <img src="~/Content/images/minihero/image4.png" />
        
    </div>
</div>