@font-face
{
	font-family: 'frankfurter-medium-plain';
    src: url('/font/frankfurter-medium-plain.eot');
    src: url('/ont/frankfurter-medium-plain.eot?#iefix') format('embedded-opentype'),
         url('/font/frankfurter-medium-plain.woff') format('woff'),
         url('/font/frankfurter-medium-plain.ttf') format('truetype'),
         url('/font/frankfurter-medium-plain.svg#frankfurter-medium-plain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
	font-family: 'frankfurter-plain';
    src: url('../font/frankfurter-plain.eot');
    src: url('../font/frankfurter-plain.eot?#iefix') format('embedded-opentype'),
         url('../font/frankfurter-plain.woff') format('woff'),
         url('../font/frankfurter-plain.ttf') format('truetype'),
         url('../font/frankfurter-plain.svg#frankfurter-plain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
	font-family: 'lobster';
    src: url('../font/lobster-1.4.eot');
    src: url('../font/lobster-1.4.eot?#iefix') format('embedded-opentype'),
         url('../font/lobster-1.4.woff') format('woff'),
         url('../font/lobster-1.4.ttf') format('truetype'),
         url('../font/lobster-1.4.svg#lobster') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
	font-family: 'poster-sans-bold';
    src: url('../font/poster-sans-bold.eot');
    src: url('../font/poster-sans-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/poster-sans-bold.woff') format('woff'),
         url('../font/poster-sans-bold.ttf') format('truetype'),
         url('../font/poster-sans-bold.svg#poster-sans-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}