html, body { height:100%; margin:0; padding: 0; }
body {
    color:White;
}

.menu {
    position:absolute;
    width:100%;
}
.FluidHero {
    .Images {
        height:100%;
        overflow:hidden;
        
        img {
            
            width:100%;
            
        }
    }
    
}