@{
    ViewBag.Title = "Dashboard";
}
@section featured {
}
<div class="row">
    <div class="large-6 columns">
        <div class="row">
            <div class="large-12 columns">
                <div class="contentBox add-top blue">
                    <div class="contentHeader intro">
                        <h2>Hello, Thomas Boeriis</h2>
                        <span class="quote">“life is just a loop, eat sleep rave reapeat -fatboy slim”</span>
                    </div>
                </div>
            </div>
            <div class="large-12 columns">
                <div class="contentBox blue">
                    <div class="contentHeader">
                        <h2>Right Now</h2>
                    </div>
                    <div class="innerContent">
                        <ul class="collumn2 list no-bull">
                            <li><span class="number">3</span> Posts</li>
                            <li><span class="number">5</span> Pages</li>
                            <li><span class="number">10</span> Categories</li>
                            <li><span class="number">52</span> Tags</li>
                            
                            <li><span class="number">3</span> <span class="blue">Comments</span></li>
                            <li><span class="number">10</span> <span class="green">Approved</span></li>
                            <li><span class="number">7</span> <span class="purple">Pending</span></li>
                            <li><span class="number">0</span> <span class="orange">Spam</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <div class="large-6 columns">
        <div class="row">
            <div class="large-12 columns add-top">
                <div class="contentBox orange">
                    <div class="contentHeader">
                        <h2>Write Quick News</h2>
                    </div>
                    <div class="innerContent">
                        <form>
                            <div class="row">
                                <div class="large-12 columns">
                                    <input type="text" placeholder="Enter Title here" />
                                </div>
                                <div class="large-12 columns">
                                    <textarea placeholder="Put content here"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-6 columns">
                                    <input type="text" placeholder="Tags (Speerate with commas)" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="right">
                                    <div class="large-4 columns">
                                        <input type="button" class="submitbutton orange" value="Publish" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>

